body {
    text-align: center;
}

td:first-child { 
    text-align: left;
    font-weight: bold;
}

.fa-times-circle {
    color: red;
}
.fa-cogs {
    color: #ff7c00;
}
.fa-check-circle {
    color: #34c74e;
}
