body {
    text-align: center;
    font-size: 14px;
    background-color: #333;
    color: #fff;
}

th {
    min-width: 65px;
}

td:first-child { 
    text-align: left;
    font-weight: bold;
}

.fa-times-circle, .fa-cogs, .fa-check-circle {
    font-size: 20px;
}

.fa-times-circle {
    color: red;
}
.fa-cogs {
    color: #ff7c00;
}
.fa-check-circle {
    color: #34c74e;
}
.fa-question-circle {
    font-size: 12px;
}

@media(max-width: 767px){
    body {
        font-size: 12px;
    }
}
